{% extends "base.html.twig" %}

{% block header %}
    {% include "Cine/navbar.html.twig" %}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <h2 class="text-center text-white">Bienvenido a Cine</h2>
    </div>
{% endblock %}